@font-face {
    font-family: OpenSans;
    src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}
body {
    font-family: OpenSans, sans-serif, monospace;
    background: #F5F5F5;
    overflow-x: hidden;
}
a {
    outline: none !important;
}
h2 {
    margin-top: 0px;
}
.header {
    background: #364F6B;

    text-align: center;
    /*border-bottom: 1px solid #FC5185;*/
}
.header a {
    text-decoration: none;
    color: #3FC1C9;
}
.startPage {
    text-align: center;
}
.dominonav {
    /*border-right: 1px solid #FC5185;*/
}
.dominonav, .gpacalcnav {
    color: #364F6B;
    border-bottom: 1px solid transparent;
    transition: all 0.5s ease 0s;
}
.dominonav:hover, .gpacalcnav:hover {
    /*box-shadow: inset 0px 0px 1px 1px #FC5185;*/
    border-bottom: 1px solid #FC5185;
    text-shadow: 0px 0px 1px #3FC1C9;
}

.startPage a {
    text-decoration: none;
    color: #3FC1C9;
    font-size: 32px;
}


div[ng-view] {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 20px;
}
div[ng-view].ng-enter,
div[ng-view].ng-leave {
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
div[ng-view].ng-enter {
    /*opacity: 0;
    display: block;*/
    left: 100%;
}
div[ng-view].ng-leave {
    /*opacity: 1;
    display: none;*/
    left: 0%;
}
div[ng-view].ng-enter-active {
    /*opacity: 1;*/
    left: 0%;
}
div[ng-view].ng-leave-active {
    /*opacity: 0;*/
    left: -100%;
}
/*:::::::::::::::::::::::::DOMINO:::::::::::::::::::::::::::::::::::::::::::*/

.dominoHeader, .newDomino {
    text-align: center;
}
.newDominoButton {
    margin: 0px 30px 0px 30px;
}
.dominoParts {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    background: #fff;
}
.dominoFigure {
    position: relative;
    margin: 85px;
}
.dominoBody {
    width: 100px;
    height: 200px;
    margin: auto;

}
.dominoTopButtons {
    z-index: 100;
}
.dbtn {
    cursor: pointer;
    font-size: 20px;
}
.rotateBody {
    /*transition: all 0.5s ease 0s;*/

}
/*.dominoBody {
    transform: scale(2, 2);
}*/


.sizeControl, .speedControl {
    height: 40px;
}
.ui-slider {
    margin-top: 5px;
    line-height: 40px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3fc1c9+3,364f6b+79 */
    background: #3fc1c9; /* Old browsers */
    background: -moz-linear-gradient(top,  #3fc1c9 3%, #364f6b 79%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #3fc1c9 3%,#364f6b 79%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #3fc1c9 3%,#364f6b 79%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3fc1c9', endColorstr='#364f6b',GradientType=0 ); /* IE6-9 */
    border: 1px solid #364F6B;
}
.dominoGame {
    margin-top: 40px;
}
.ui-widget-content {
    background: #3FC1C9;
}


/*::::::::::::::::::::::::::GPA::::::::::::::::::::::::::::::::::::::::::*/
.gpaheader, .dominoHeader {
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
    color: #364F6B;
}
.deleteGrade {
    cursor: pointer;
}
.deleteStudent {
    cursor: pointer;
}
.btn-addGrade {
    margin: 5px;
}
.gradeNameInput {
    margin: 20px 0px 10px 10px;
}
.gpainfo {
    text-align: center;
}
.gradeName, .gradeGPA {
    font-size: 40px;
    color: #364F6B;
}
.gpainfoCaption {
    font-size: 10px;
}


