@font-face {
    font-family: OpenSans;
    src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}
body {
    font-family: OpenSans, sans-serif, monospace;
    background: #F5F5F5;
    overflow-x: hidden;
}
a {
    outline: none !important;
}
h2 {
    margin-top: 0px;
}
.header {
    background: #364F6B;
    position: relative;
    text-align: center;
    /*border-bottom: 1px solid #FC5185;*/
}
.header a {
    text-decoration: none;
    color: #3FC1C9;
}
.startPage {
    text-align: center;
}
.dominonav {
    /*border-right: 1px solid #FC5185;*/
}
.dominonav, .gpacalcnav {
    color: #364F6B;
    border-bottom: 1px solid transparent;
    transition: all 0.5s ease 0s;
}
.dominonav:hover, .gpacalcnav:hover {
    /*box-shadow: inset 0px 0px 1px 1px #FC5185;*/
    border-bottom: 1px solid #FC5185;
    text-shadow: 0px 0px 1px #3FC1C9;
}
.gpacalc {
    margin-bottom: 100px;
}

.startPage a {
    text-decoration: none;
    color: #3FC1C9;
    font-size: 32px;
}
.logoAngular {
    margin-top: 40px;
}
.itrexlogo {
    position: absolute;
    height: 45px;
    width: 125px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
}


div[ng-view] {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 20px 0px;
}
div[ng-view].ng-enter,
div[ng-view].ng-leave {
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
div[ng-view].ng-enter {
    /*opacity: 0;
    display: block;*/
    left: 100%;
}
div[ng-view].ng-leave {
    /*opacity: 1;
    display: none;*/
    left: 0%;
}
div[ng-view].ng-enter-active {
    /*opacity: 1;*/
    left: 0%;
}
div[ng-view].ng-leave-active {
    /*opacity: 0;*/
    left: -100%;
}

/*.alert.ng-hide-add, .alert.ng-hide-remove {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}*/
.alert.ng-enter, .alert.ng-leave {
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    transition: all 1s ease-in;
}
.alert.ng-enter{
    opacity: 0;     /*initial css for view transition in*/
}
.alert.ng-enter-active {
    opacity: 1;     /*final css for view transition in*/
}
.alert.ng-leave {
    opacity: 1;     /*initial css for view transition out*/

}
.alert.ng-leave-active {
    opacity: 0;    /*final css for view transition out*/
}



ng-form[name="addNewStudent"] {
    margin: 20px;
}
/*:::::::::::::::::::::::::DOMINO:::::::::::::::::::::::::::::::::::::::::::*/

.dominoHeader, .newDomino {
    text-align: center;
}
.newDominoButton {
    margin: 0px 30px 0px 30px;
}
.dominoParts {
    /*border-bottom: 1px solid #364F6B;*/
    width: 100px;
    height: 100px;
    background: #fff;
    position: relative;
    cursor: pointer;
}
.dominoParts:hover {
    box-shadow: inset 0 0 70px #FAEBD7;
}

.dominoFigure {
    position: relative;
    margin: 85px;
}
.dominoBody {
    width: 100px;
    height: 200px;
    margin: auto;
    background: #fff;
}
.dominoTopButtons {
    z-index: 100;
}
.dbtn {
    cursor: pointer;
    font-size: 20px;
}
.rotateBody {
    /*transition: all 0.5s ease 0s;*/

}
/*.dominoBody {
    transform: scale(2, 2);
}*/


.sizeControl, .speedControl {
    height: 40px;
}
.ui-slider {
    margin-top: 5px;
    line-height: 40px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3fc1c9+3,364f6b+79 */
    background: #3fc1c9; /* Old browsers */
    background: -moz-linear-gradient(top,  #3fc1c9 3%, #364f6b 79%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #3fc1c9 3%,#364f6b 79%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #3fc1c9 3%,#364f6b 79%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3fc1c9', endColorstr='#364f6b',GradientType=0 ); /* IE6-9 */
    border: 1px solid #364F6B;
    border-radius: 50%;
}
.dominoGame {
    margin-top: 40px;
}
.ui-widget-content {
    background: #3FC1C9;
}
.dominoBody .dominoTop {
    height: 101px;
    border-bottom: 1px solid #364F6B;
}
.closeFaces {
    cursor: pointer;
}


.choosefaces.ng-enter,
.choosefaces.ng-leave {
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
.choosefaces.ng-enter {
    /*opacity: 0;
    display: block;*/
    left: 10%;
    opacity: 0;
}
.choosefaces.ng-leave {
    /*opacity: 1;
    display: none;*/
    left: 0%;
    opacity: 1;
}
.choosefaces.ng-enter-active {
    /*opacity: 1;*/
    left: 0%;
    opacity: 1;
}
.choosefaces.ng-leave-active {
    /*opacity: 0;*/
    left: 10%;
    opacity: 0;
}
/*.closeFaces {
    opacity: 1;
}

.closeFaces.ng-hide-add, .animate-show.ng-hide-remove {
    transition: 1s linear all;
}

.closeFaces.ng-hide-add {
    opacity: 0;
}
.closeFaces.ng-hide-add.ng-hide-add-active {
    opacity: 1;
}
.closeFaces.ng-hide-remove {
    opacity: 0;
}
.closeFaces.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
}*/


/*::::::::::::::::DOMINO FACES:::::START:::::::::::::::*/
.dot, .dot1, .dot2, .dot3, .dot4, .dot5, .dot6 {
    background-color: #364F6B;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: auto;
    position: absolute;
}
/*1*/
.faceOne .dot {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/*2*/
.faceTwo .dot1 {
    left: 80%;
    top: 20%;
    transform: translateX(-80%);
}
.faceTwo .dot2 {
    bottom: 20%;
    left: 20%;
}
/*3*/
.faceThree .dot1 {
    left: 80%;
    top: 20%;
    transform: translateX(-80%);
}
.faceThree .dot2 {
    bottom: 20%;
    left: 20%;
}
.faceThree .dot3 {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/*4*/
.faceFour .dot1 {
    left: 80%;
    top: 20%;
    transform: translateX(-80%);
}
.faceFour .dot2 {
    bottom: 20%;
    left: 20%;
}
.faceFour .dot3 {
    top: 20%;
    left: 20%;
}
.faceFour .dot4 {
    left: 80%;
    bottom: 20%;
    transform: translateX(-80%);
}
/*5*/
.faceFive .dot1 {
    left: 80%;
    top: 20%;
    transform: translateX(-80%);
}
.faceFive .dot2 {
    bottom: 20%;
    left: 20%;
}
.faceFive .dot3 {
    top: 20%;
    left: 20%;
}
.faceFive .dot4 {
    left: 80%;
    bottom: 20%;
    transform: translateX(-80%);
}
.faceFive .dot5 {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/*6*/
.faceSix .dot1 {
    left: 80%;
    top: 20%;
    transform: translateX(-80%);
}
.faceSix .dot2 {
    bottom: 20%;
    left: 20%;
}
.faceSix .dot3 {
    top: 20%;
    left: 20%;
}
.faceSix .dot4 {
    left: 80%;
    bottom: 20%;
    transform: translateX(-80%);
}
.faceSix .dot5 {
    left: 80%;
    transform: translate(-80%, 50%);
    bottom: 50%;
}
.faceSix .dot6 {
    left: 20%;
    bottom: 50%;
    transform: translateY(50%);
}
/*::::::::::::::::DOMINO FACES:::::END:::::::::::::::*/





/*::::::::::::::::::::::::::GPA::::::::::::::::::::::::::::::::::::::::::*/
.gpaheader, .dominoHeader {
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
    color: #364F6B;
}
.deleteGrade {
    cursor: pointer;
}
.deleteStudent {
    cursor: pointer;
}
.btn-addGrade {
    margin: 5px;
}
.gradeNameInput {
    margin: 20px 0px 10px 10px;
}
.gpainfo {
    text-align: center;
}
.gradeName, .gradeGPA {
    font-size: 40px;
    color: #364F6B;
}
.gpainfoCaption {
    font-size: 10px;
}


