<div class="startPage">
    <div class="row">
        <a href="#/domino">
        <div class="col-lg-6 dominonav">
            <!--<img src="images/domino.png" width="300px" height="300px" alt="">-->
            <div>Domino</div>
        </div>
        </a>
        <a href="#/gpacalc">
        <div class="col-lg-6 gpacalcnav">
            <!--<img src="images/GPA.png" width="300px" height="300px" alt="">-->
            <div>School GPA calculator</div>
        </div>
        </a>
    </div>
    <div class="row">
        <div class="col-lg-12 logoAngular">
            <img src="images/angular.png" alt="">
        </div>
    </div>
</div>